* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Censored", sans-serif;
}
body {
    background-color: #00bba7;
}

/* Here the tab-bar css */
.container-tabar {
    position: fixed;
    bottom: 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
}
.list li a {
    color: black;
    text-decoration: none;
    font-size: large;
    transition: opacity 0.3s;
}
.list li a:hover {
    opacity: 0.8;
    font-weight: bold;
}

.container-tittle {
    top: 0;
    background-color: #00bba7;
    color: white;
    font-size: small;
    padding: 15px;
    width: 100%;
}
.container-abonnements {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.abonnement {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}
.container-abonnements .abonnement ul li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}