/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Censored", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00d0ba;
}


/* Here the tab-bar css */
.container-tabar {
    position: fixed;
    bottom: 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
}
.list li a {
    color: black;
    text-decoration: none;
    font-size: large;
    transition: opacity 0.3s;
}
.list li a:hover {
    opacity: 0.8;
    font-weight: bold;
}

/* HERE THE SETCION FOR THE CHOOSE PAGE */
.tabs{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.1);
    padding: 4px;
    border-radius: 12px;
    margin-top: 20px;
}

.tab{
    flex: 1;
    border: none;
    background: transparent;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.tab.active{
    background: white;
    color: #14b8a6;
    border-radius: 10px;
    font-weight: bold;
}



main {
  max-width: 480px;
  margin: 0 auto;
}

/* TODO: MOBILE FIST */
@media screen and (max-width: 480px) {
  /* BODY */

  /* ! Header */
  header {
    display: block;
    text-align: center;
    background-color: rgb(0, 137, 123);
    color: white;
    padding: 15px;
  }

  .head-main .rewards-title {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .head-main .rewards-p {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  /* ! Main */
  .btn-rewards {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; */
  }

  .btn-rewards .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .btn-rewards .btn li {
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 0;
    float: none;
  }

  /*? Color Bouton  */
  /* 1 */
  .btn-rewards .btn .btn1 {
    background-color: rgb(0, 137, 123);
    border-radius: 20%;
  }

  /* 2 */
  .btn-rewards .btn .btn2 {
    background-color: rgb(138, 235, 70);
    border-radius: 20%;
  }

  /* 3 */
  .btn-rewards .btn .btn3 {
    background-color: rgb(73, 30, 115);
    border-radius: 20%;
  }

  /* 4 */
  .btn-rewards .btn .btn4 {
    background-color: rgb(25, 25, 25);
    border-radius: 20%;
  }

  /* 5 */
  .btn-rewards .btn .btn5 {
    background-color: rgb(61, 58, 58);
    border-radius: 20%;
  }

  /* 6 */
  .btn-rewards .btn .btn6 {
    background-color: rgb(217, 147, 20);
    border-radius: 20%;
  }

  /* ! Footer */

  .tabbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  .tabbar a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
  }
}

/* TODO: Tablet */
@media screen and (min-width: 480px) AND (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* ! Header */
  header {
    display: block;
    text-align: center;
    background-color: rgb(0, 137, 123);
    color: white;
    padding: 15px;
  }

  .head-main .rewards-title {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .head-main .rewards-p {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

/* ! Main */
.btn-rewards {
  margin-top: 50px;
}

.btn-rewards .btn a {
  display: flex;
  float: left;
  align-content: center;
}
.btn-rewards .btn li {
  list-style: none;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

/*? Color Bouton  */
/* 1 */
.btn-rewards .btn .btn1 {
  background-color: rgb(0, 137, 123);
  border-radius: 20%;
}

/* 2 */
.btn-rewards .btn .btn2 {
  background-color: rgb(138, 235, 70);
  border-radius: 20%;
}

/* 3 */
.btn-rewards .btn .btn3 {
  background-color: rgb(73, 30, 115);
  border-radius: 20%;
}

/* 4 */
.btn-rewards .btn .btn4 {
  background-color: rgb(25, 25, 25);
  border-radius: 20%;
}

/* 5 */
.btn-rewards .btn .btn5 {
  background-color: rgb(61, 58, 58);
  border-radius: 20%;
}

/* 6 */
.btn-rewards .btn .btn6 {
  background-color: rgb(217, 147, 20);
  border-radius: 20%;
}

/* ! Footer */

.tabbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.tabbar a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

/* TODO: Personal Computer */
@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* ! Header */
  header {
    display: block;
    text-align: center;
    background-color: rgb(0, 137, 123);
    color: white;
    padding: 15px;
  }

  .head-main .rewards-title {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .head-main .rewards-p {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

/* ! Main */
.btn-rewards {
  margin-top: 50px;
}

.btn-rewards .btn li {
  float: left;
  list-style: none;
  margin-left: 33px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

/*? Color Bouton  */
/* 1 */
.btn-rewards .btn .btn1 {
  background-color: rgb(0, 137, 123);
  border-radius: 20%;
}

/* 2 */
.btn-rewards .btn .btn2 {
  background-color: rgb(138, 235, 70);
  border-radius: 20%;
}

/* 3 */
.btn-rewards .btn .btn3 {
  background-color: rgb(73, 30, 115);
  border-radius: 20%;
}

/* 4 */
.btn-rewards .btn .btn4 {
  background-color: rgb(25, 25, 25);
  border-radius: 20%;
}

/* 5 */
.btn-rewards .btn .btn5 {
  background-color: rgb(61, 58, 58);
  border-radius: 20%;
}

/* 6 */
.btn-rewards .btn .btn6 {
  background-color: rgb(217, 147, 20);
  border-radius: 20%;
}

/* ! Footer */

.tabbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.tabbar a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}
