* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Censored", sans-serif;
}

.container-tittle {
    position: fixed;
    top: 0;
    background-color: #00bba7;
    color: white;
    font-size: small;
    padding: 15px;
    width: 100%;
    z-index: 100;
}

.main-part {
    padding-top: 60px;
    padding-bottom: 70px;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

/* Cache la scrollbar pour un look plus propre
.main-part::-webkit-scrollbar {
    display: none;
} */

.main-part {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-reels {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    width: 100%;
}

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(110vh - 130px);
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}

.video {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 900px;
    object-fit: contain;
    border-radius: 8px;
    margin: 0 auto;
}

video::-webkit-media-controls {
  display: none;
}


.container-tabar {
    position: fixed;
    bottom: 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
}

.list li a {
    color: black;
    text-decoration: none;
    font-size: large;
    transition: opacity 0.3s;
}

.list li a:hover {
    opacity: 0.8;
    font-weight: bold;
}

