body {
    background-color: #e5e8e8;
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
}
.bb {
    color: rgb(132, 130, 130);
    font-size: 24px;
    margin: 20px;
}

.container-bb {
    background-color: white;

}
.title {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 10px;
}
button {
    background-color: #ff3700; /* Green */
    color : white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    margin-left: 635px;
}