/* TODO: MOBILE */
@media screen and (max-width: 428px) {
  /* ! TOUT */
  * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* ! Header */
  header {
    display: block;
    text-align: center;
    background-color: rgb(0, 137, 123);
    color: white;
    padding: 15px;
  }

  /* ! Main */
  /*? Tchat */
  .div-persons {
    border: solid 1px black;
    margin-bottom: 2px;
  }
  /*? Picture */
  img {
    float: left;
    padding: 10px;
    align-content: center;
    border-radius: 100px;
    width: 60px;
  }
  /* todo: Texte */
  .div-persons p {
    display: flex;
    margin-left: 10px;
  }
}
/* ---------------------------------------------------------------- */

/* TODO: TABLETTE */

@media screen and (min-width: 429px) AND (max-width: 810px) {
  /* ! TOUT */
  * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* ! Header */
  header {
    display: block;
    text-align: center;
    background-color: rgb(0, 137, 123);
    color: white;
    padding: 15px;
  }

  /* ! Main */
  /*? Tchat */
  .div-persons {
    border: solid 1px black;
    margin-bottom: 2px;
  }
  /*? Picture */
  img {
    float: left;
    padding: 10px;
    align-content: center;
    border-radius: 100px;
    width: 60px;
  }
  /* todo: Texte */
  .div-persons p {
    display: flex;
    margin-left: 10px;
  }
}

/* ---------------------------------------------------------------- */

/* TODO: PC */
@media screen and (min-width: 810px) {
  /* ! TOUT */
  * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* ! Header */
  header {
    display: block;
    text-align: center;
    background-color: rgb(0, 137, 123);
    color: white;
    padding: 15px;
  }

  /* ! Main */
  /*? Tchat */
  .div-persons {
    border: solid 1px black;
    margin-bottom: 2px;
  }
  /*? Picture */
  img {
    float: left;
    padding: 10px;
    align-content: center;
    border-radius: 100px;
    width: 60px;
  }
  /* todo: Texte */
  .div-persons p {
    display: flex;
    margin-left: 10px;
  }
}
